*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Red Hat Text', sans-serif;
}

html{
    background-color: hsl(234, 17%, 12%);
    background-image: url(/images/pattern-hills.svg),url(/images/bg-stars.svg); ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-size: 380%,auto;
}
    
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    color: hsl(0, 0%, 100%);
    padding: 110px 20px 60px;
}

.clock-wrap{
    display: flex;
    justify-content:center;
    align-items: center;
}


.shadow{
    position: absolute;
    border-bottom:black;
    border-style: solid;
    border-width: 1px;
    height: 10px;
    font-size: 28px;
    background-color: black;
    opacity: 0.15;
    color:transparent;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    min-width: 46px;
}


.number{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 28px;
    background-color: hsl(236, 21%, 26%);
    padding: 10px;
    min-width: 46px;
    color: hsl(345, 95%, 68%);
    border-radius: 5px;
    box-shadow: 0px 8px 5px black, 0px 0px 0px transparent;
}


#text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
    margin-top: 15px;
}

.clock{
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 15px;
    color: hsl(237, 18%, 59%);
}

.footer-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-around;
    bottom: 60px;
    width: 200px;
}

.attribution{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: normal;
    text-decoration: none;
    position: absolute;
    bottom: 10px; 
    font-size: 7px
}
a:link{
    text-decoration: none;
    color: white;

}


h1{
    letter-spacing: 5px;
}
h2{
    letter-spacing: 2px;
}



@media screen and (orientation:landscape) {
    .header{
        font-size: 12px;
        padding: 60px 170px 40px;
    }
    html{
        background-position-x: 90%;
        background-size: 125%,auto;
    }

    .footer{
        position: absolute;
        bottom: 40px;
        width: 150px;
        justify-content: space-between;
    }

    .attribution{
        font-size: 8px;
        bottom: 10px; 
    }
    #text{
        font-size: 5px;
    }

}
@media only screen and (orientation:portrait) and (min-width: 370px){
    .header{
        font-size: 12px;
        padding: 120px 0px 130px;
    }

    html{
        background-position-x: 90%;
        background-size: 450%,auto;
    }

    .number{
        font-size: 28px;
        padding: 10px;
        min-width: 46px;
    }

    .clock{
        display: flex;
        justify-content: space-between;
        width: 330px;
        font-size: 15px;
    }

    #text{
        font-size: 6px;
    }

    .footer{
        position: absolute;
        bottom: 60px;
        width: 120px;
    }

   
}

@media only screen and (orientation:portrait) and (min-width: 520px){
    .header{
        font-size: 18px;
        padding: 120px 0px 60px;
    }

    html{
        background-position-x: 90%;
        background-size: 300%,auto;
    }

    .number{
        font-size: 45px;
        padding: 12px;
        min-width: 65px;
    }

    .clock{
        display: flex;
        justify-content: space-between;
        width: 460px;
        font-size: 15px;
    }

    #text{
        font-size: 6px;
    }
}

@media only screen and (min-width: 760px){
    .header{
        font-size: 14px;
        color: hsl(0, 0%, 100%);
        padding: 80px 0px 100px;
    }

    html{
        background-size: 200%,auto;
        
    }

    .number{
        font-size: 60px;
        padding: 15px;
        min-width: 90px;
    }

    .shadow{
        height: 25px;
        font-size: 60px;
        border-radius: 5px 5px 0 0;
        padding: 15px;
        min-width: 90px;
    }

    .clock{
        display: flex;
        justify-content: space-between;
        width: 600px;
    }

    .footer{
        bottom:60px;
    }
    #text{
        font-size: 8px;
        padding:5px;
    }
    .attribution{
        font-size: 11px;
        bottom: 15px; 
    }

    h1{
        letter-spacing: 7px;
    }

    h2{
        letter-spacing: 5px;
    }
}

@media only screen and (orientation:portrait) and (min-width: 768px){
    .header{
        font-size: 29px;
        color: hsl(0, 0%, 100%);
        padding: 120px 0px 90px;
    }

    html{
        background-position-x: 90%;
        background-size: 300%,auto;
    }

    .number{
        font-size: 70px;
        padding: 12px;
        min-width: 100px;
    }

    .clock{
        display: flex;
        justify-content: space-between;
        width: 630px;
        font-size: 15px;
    }

    #text{
        font-size: 10px;
        padding: 5px;
    }
    .attribution{
        font-size: 15px;
        bottom: 10px; 
    }

    .footer{
        position: absolute;
        bottom: 90px;
        display: flex;
        width: 600px;
        justify-content: space-between;
        color: white;
        font-size: 23px;
    }
}

@media only screen and (orientation:portrait) and (min-width: 1024px){
    .header{
        font-size: 38px;
        color: hsl(0, 0%, 100%);
        padding: 180px 0px 160px;
    }

    html{
        background-position-x: 90%;
        background-size: 300%,auto;
    }

    .number{
        font-size: 90px;
        padding: 20px;
        min-width: 140px;
    }

    .clock{
        display: flex;
        justify-content: space-between;
        width: 870px;
    }

    #text{
        font-size: 13px;
        padding: 7px;
    }
    .attribution{
        font-size: 20px;
        bottom: 15px; 
    }

    .footer{
        bottom: 130px;
        width: 200px;
    }

    h1{
        letter-spacing: 7px;
    }

    h2{
        letter-spacing: 7px;
    }
}

@media only screen and (min-width: 1200px){
    .header{
        font-size: 15px;
        color: hsl(0, 0%, 100%);
        padding: 180px 0px 160px;
    }

    html{
        background-position-x: 90%;
        background-size: 100%,auto;
    }

    .number{
        font-size: 90px;
        padding: 20px;
        min-width: 140px;
    }

    .shadow{
        height: 10px;
        font-size: 90px;
        border-radius: 5px 5px 0 0;
        padding: 20px;
        min-width: 140px;
    }

    .clock{
        display: flex;
        justify-content: space-between;
        width: 920px;
    }

    #text{
        font-size: 11px;
        padding: 15px;
    }
    .attribution{
        font-size: 10px;
        bottom: 15px; 
    }

    .footer{
        bottom: 80px;
        width: 200px;
        
    }

    h1{
        letter-spacing: 7px;
    }

    h2{
        letter-spacing: 7px;
    }
}

@media only screen and (min-width: 1400px){
    .header{
        font-size: 14px;
        color: hsl(0, 0%, 100%);
        padding: 80px 0px 70px;
    }

    html{
        background-size: 100%,auto;
    }

    .number{
        font-size: 80px;
        padding: 20px;
        min-width: 120px;
    }

    .shadow{
        height: 10px;
        font-size: 80px;
        border-radius: 5px 5px 0 0;
        padding: 20px;
        min-width: 120px;
    }

    .clock{
        display: flex;
        justify-content: space-between;
        width: 800px;
    }

    #text{
        font-size: 11px;
        padding: 15px;
    }
    .attribution{
        font-size: 11px;
        bottom: 15px; 
    }

    .footer{
        width: 200px;
        
    }

    h1{
        letter-spacing: 7px;
    }

    h2{
        letter-spacing: 7px;
    }
}